<form #form="ngForm" (ngSubmit)="login2(form.value)">
  <div>
    <label for="">username</label>
    <input
      type="text"
      name="username"
      [(ngModel)]="userlogin.username"
      #userRef="ngModel"
      required
      minlength="5"
    />{{ userRef.status }}
    <p [hidden]="userRef.valid || userRef.pristine" style="color: red">error</p>
    <p *ngIf="userRef.errors?.['minlength']">length is less than 5</p>
  </div>

  <div>
    <label for="">password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="userlogin.password"
      required
    />
  </div>

  <input
    routerLink="/products"
    type="submit"
    value="login"
    [disabled]="form.invalid"
  />
</form>

{{ form.value | json }}
