<div class="d-flex flex-column container justify-content-center">
  <form [formGroup]="todoText" (ngSubmit)="addTodo(todoText)">
    <div class="input-group mb-3">
      <input
        type="text"
        name="todo"
        class="form-control"
        [ngClass]="{
          'border-danger ':
            todoText.get('todoInput')?.errors != null &&
            todoText.get('todoInput')?.touched
        }"
        placeholder="Enter New Todo"
        formControlName="todoInput"
      />
      <button
        class="btn btn-outline-primary px-5"
        [disabled]="todoText.invalid"
      >
        Add
      </button>
    </div>
  </form>

  <div class="flex-row d-flex">
    <span class="w-25 my-auto">Todo List</span>
    <input
      type="text"
      (keyup)="filter()"
      [(ngModel)]="tododata"
      class="form-control"
      placeholder="Filter"
    />
  </div>
  <p class="text-end">There are {{ todolist.length }} todos</p>

  <div class="container mt-3">
    <ul class="list-group">
      <li
        *ngFor="let todo of todolist"
        class="list-group-item d-flex justify-content-between align-items-start"
      >
        <span class="my-auto">{{ todo }}</span>
        <button class="btn btn-danger" (click)="deleteTodo(todo)">
          Complate
        </button>
      </li>
    </ul>
  </div>
</div>
